<div class="emailbox">
  <header>
    <h2>Inbox (2455)</h2>

    <div class="emailoptions">
      <a href="#" class="compose"><i class="glyphicon glyphicon-pencil">&nbsp;</i>Compose Email</a>

      <div class="emailcontrols">
        <a href="#" class="prev-email"><i class="glyphicon glyphicon-play">&nbsp;</i></a>
        <a href="#" class="next-email"><i class="glyphicon glyphicon-play">&nbsp;</i></a>

        <p>1-30 of 789</p>
      </div>
      <div class="searchemail">
        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Search Email" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Search</button>
                                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </header>
  <div class="structure-table">
    <div class="structure-row">
      <nav class="email-nav">
        <ul class="effect" id="nav4">
          <li><a href="#">Inbox<span>05</span></a></li>
          <li><a href="#">Starred</a></li>
          <li><a href="#">Important</a></li>
          <li><a href="#">Sent mail</a></li>
          <li><a href="#">Drafts<span>05</span></a></li>
          <li><a href="#">Personal</a></li>
          <li><a href="#">Social</a></li>
          <li><a href="#">Trash<span>05</span></a></li>
        </ul>
        <div class="clearfix"></div>
      </nav>
      <div class="emailslist">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </th>
            <th class="sender">Sender</th>
            <th class="subject">Subject</th>
            <th class="dated">Dated</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender unread"><a href="#">Fifth Avenue Clothing</a></td>
            <td class="subject">
              <a href="#">Fifth Avenue Clothing Fall/Winter 13-14 SALE - Fifth Avenue Clothing Fall/Winter 13-14 SALE
                Facebook.gif email flyer.jpg -- You received this</a>
              <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 13</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender unread"><a href="#">Glassdoor</a></td>
            <td class="subject">
              <a href="#">10+ new jobs found for you this week - We found 10+ new jobs for you this week:: Glassdoor
                Jobs | Companies & Reviews | Salaries</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 13</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender unread"><a href="#">Andy for Android</a></td>
            <td class="subject">
              <a href="#">WhatsApp & Viber Cleaner - Hello fans, We have just released two new and completely free
                Android apps for those of you who use</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 12</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">Watchaholic</a></td>
            <td class="subject"><a href="#">Rolex Watches - Rolex Watches- Visit:
              http://watchaholic.com/index.php/mens-watches/rolex-watches-in-</a></td>
            <td class="dated">Jan 12</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">New offer for 2014</a></td>
            <td class="subject">
              <a href="#">Sale 70% Off - Future The Brand of Next Generation Call Now, For More Details: Tell:
                054-4610399 , 042-35311306-7</a></td>
            <td class="dated">Jan 11</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">OCS Worldwide</a></td>
            <td class="subject">
              <a href="#">Save upto 70% on your monthly bill with OCS Worldwide - EXCLUSEIVE OFFER FOR OUR NEW CLIENTS
                Facebook.gif Call Now, For More...</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 11</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">Watchaholic</a></td>
            <td class="subject">
              <a href="#">Women's Watches - TAG HEUER FORMULA 1 for just $349/- with Free Delivery Anywhere. Visit:
                http://</a></td>
            <td class="dated">Jan 10</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">Pinterest Weekly</a></td>
            <td class="subject">
              <a href="#">New Pin picks! - Pinterest Android App · iOS App Hi Muhammad, Your latest Pin picks Fresh
                Orchids Josie Goytisolo</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 10</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">WebbTrax</a></td>
            <td class="subject">
              <a href="#">Comprehensive Web Solutions - WebbTrax is an interactive web design agency formerly known as
                efroWeb, a high-tech vintage unit of</a></td>
            <td class="dated">Jan 9</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">MightyDeals</a></td>
            <td class="subject">
              <a href="#">6 Responsive Portfolio Bootstrap Templates from Designova - only $17 - See this deal on our
                website | Unsubscribe Exclusive daily deals...</a>
            </td>
            <td class="dated">Jan 9</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">New offer for 2014</a></td>
            <td class="subject">
              <a href="#">Sale 70% Off - Future The Brand of Next Generation Call Now, For More Details: Tell:
                054-4610399 , 042-35311306-7</a></td>
            <td class="dated">Jan 11</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">OCS Worldwide</a></td>
            <td class="subject">
              <a href="#">Save upto 70% on your monthly bill with OCS Worldwide - EXCLUSEIVE OFFER FOR OUR NEW CLIENTS
                Facebook.gif Call Now, For More...</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 11</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">Watchaholic</a></td>
            <td class="subject">
              <a href="#">Women's Watches - TAG HEUER FORMULA 1 for just $349/- with Free Delivery Anywhere. Visit:
                http://</a></td>
            <td class="dated">Jan 10</td>
          </tr>
          <tr>
            <td class="checkboxsec">
              <input tabindex="1" type="checkbox" class="minimalcheckradios">
            </td>
            <td class="sender"><a href="#">Pinterest Weekly</a></td>
            <td class="subject">
              <a href="#">New Pin picks! - Pinterest Android App · iOS App Hi Muhammad, Your latest Pin picks Fresh
                Orchids Josie Goytisolo</a> <i class="glyphicon glyphicon-paperclip pull-right"></i></td>
            <td class="dated">Jan 10</td>
          </tr>
          </tbody>
        </table>
        <footer>
          <div class="emailcontrols">
            <a href="#" class="prev-email"><i class="glyphicon glyphicon-play">&nbsp;</i></a>
            <a href="#" class="next-email"><i class="glyphicon glyphicon-play">&nbsp;</i></a>

            <p>1-30 of 789</p>
          </div>
          <p class="pull-right">0.91 GB (6%) of 15 GB used</p>
        </footer>
      </div>
    </div>
  </div>
</div>