<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule type:</strong>
  <%= @class_time.schedule_type %>
</p>

<%= link_to 'Edit', edit_class_time_path(@class_time) %> |
<%= link_to 'Back', class_times_path %>
